body{
    font-family: "Century Gothic";
    font-weight: bold;
    background-color: rgb(36, 36, 36);
}
.main_content{
    padding-top: 30px;
    width: 85%;
    height: 85%;
    word-wrap: break-word;
    margin: auto;
}
.main_text{
    color: white;
    background-color: rgb(80, 80, 80);
    padding: 20px;
    float: left;
    width: 74%;
    min-height: 700px;
    height: 74%;

    margin: auto;
}
#input_text{
    width: 320px;
    height: 40px;
}
.options{
    background-color: rgb(60, 60, 60);
    min-height: 740px;
    width: 23%;

    float: left;
}
.text_options{
    padding: 65px 20px 0px 20px;
    
}
#fontSizeChange{
    width: 40px;
}
.options_text{
    color: white;
}
.drop_shadow{
    filter: drop-shadow(4px 3px 2px black);
}
.text_center{
    text-align: center;
}
.text_outline{
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
.text_positions{
    font-size: 17px;
    font-weight: bold;
    background-color: rgb(120, 120, 120);
    text-align: center;
    padding: 12px;
    float: left;
    color: white;
    width: 124px;
    border-color: rgb(120, 120, 120);
}
.text_positions:hover{
    background-color: rgb(100, 100, 100);
    border-color: rgb(100, 100, 100);
    cursor: pointer;
}
.text_positions_active{
    background-color: rgb(60, 60, 60);
    border-color: rgb(60, 60, 60);
}