body{
    font-family: "Century Gothic";
    font-weight: bold;
    background-color: rgb(36, 36, 36);
}
.main_content{
    padding-top: 30px;
    width: 75%;
    height: 75%;
    word-wrap: break-word;
    margin: auto;
}
.main_text{
    color: white;
    background-color: rgb(80, 80, 80);
    padding: 20px;
    float: left;
    width: 960px;
    min-height: 540px;
    margin: auto;
}
#input_text{
    width: 310px;
    height: 50px;
}
.options{
    background-color: rgb(60, 60, 60);
    min-height: 540px;
    padding: 20px;
    width: 320px;
    float: left;
}
#fontSizeChange{
    width: 40px;
}
.options_text{
    color: white;
}
.drop_shadow{
    filter: drop-shadow(4px 3px 2px black);
}
.text_center{
    text-align: center;
}
.text_outline{
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}